@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
  
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
  
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
  
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
  
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
  
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
  
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
  
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
  
    --radius: 0.5rem;
  }
  
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
  
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
  
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
  
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
  
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
  
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
  
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
  
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

}

.dark .sbdocs-wrapper,
.dark .css-11ju8y0,
.dark .css-1f9domv,
.dark .css-p1dfi6,
.dark .sbdocs-preview {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

.dark .sbdocs .sbdocs-content .css-qa4clq {
  color: hsl(var(--foreground));
}

.dark .sbdocs-preview {
  border: 1px solid hsl(var(--border)) 
}

.dark .docblock-code-toggle {
  background: transparent;
  color: hsl(var(--foreground));
}

.dark .css-qa4clq *:not(button, ol) {
  background: hsl(var(--background));
  color: hsl(var(--foreground)) hsl(var(--foreground))
}

.dark div:has(.docblock-code-toggle) {
  background: transparent;
}

.dark .os-theme-dark {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
}

.dark .sbdocs-title {
  color: hsl(var(--foreground));
}

.dark .docblock-argstable-head {
  background: hsl(var(--background));
}

.dark .docblock-argstable-head th {
  color: hsl(var(--foreground));
  border-bottom: 1px solid hsl(var(--border)) !important;
}

.dark .docblock-argstable-head th span {
  color: hsl(var(--foreground));
}

.dark #docs-root tbody td {
  background: hsl(var(--background)) !important;
  color: hsl(var(--foreground)) !important;
}

.dark #docs-root tbody tr:first-child td:first-child {
  border-top-left-radius: 0 !important;
}

.dark #docs-root tbody tr:first-child td:last-child {
  border-top-right-radius: 0 !important;
}

.dark #docs-root tbody tr:not(:first-child) {
  border-top: 1px solid hsl(var(--border)) !important;
}

.dark .css-v2ifgj.css-v2ifgj tbody >tr>* {
  color: hsl(var(--foreground));
  background-color: hsl(var(--background));
  border-color: hsl(var(--border));
}

.dark #control-variant {
  background-color: hsl(var(--input));
  color: hsl(var(--foreground));
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}